/*071013, EB5160, DFE0E2, 9CC5A18?

html body{
    margin: 0;
    padding: 0;
}

#container{
    /*position: absolute;*/
    width: 434px;
    height: 568px;
    background: #DFE0E2;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    /*position: absolute;*/
    width: 434px;
    height: 65px;
    background: #071013;
    border-radius: 3px;
    display: flex;
}

#content{
    /*position: absolute;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 10px;
}

#content-box{
    background: #c4c4c4;
    border-radius: 5px;
}

.weatherVisual{
    height: 96px;
    grid-column: 1/2;
}

.weatherInfo{
    height: 96px;
    grid-column: 2/5;
}

.notes{
    height: 194px;
    grid-column: 1/5;
}

.calender{
    height: 131px;
    grid-column: 1/5;
}

#title{
    color: #EB5160;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    text-align: center;
}

.login {
    /*position: absolute;*/
    width: 49px;
    height: 49px;
    box-shadow: -3px 2px 4px rgba(177, 0, 15, 0.3);
    border-radius: 40px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

#expand{
    /*position: absolute;*/
    width: 37px;
    height: 23px;
    background: #EB5160;
    border-radius: 5px;
}

#expand:hover{
    cursor: pointer;
}